body {
  background-color: #000000;
}

.title {
 margin-bottom: 40px;
 
}

.card-title  {
  font-size:40;
color:#E62B1E;
font-family: Comic Sans MS;
text-transform: uppercase;

}

.subt{
  font-size:19;
  font-weight: 600;
  text-align: center;
  font-family:Arial, Helvetica, sans-serif;
}

.card-block {
 
    font-size:21.5;
    color:#FFF;
    
    font-family:colaborate;
    position: relative;
    margin: 0;
    padding: 1em;
    border: none;
    border-top: 1px solid rgba(34, 36, 38, .1);
    box-shadow: none;
    
}
.card {
    font-size: 1em;
    background-color: #000;
    overflow: hidden;
    padding: 25;
    border: none;
    border-radius: .28571429rem;
    border-style:solid;
    border-color:#E62B1E;
    border-radius:20;
    border-width: 1.5px;
    margin-top:20px;
}
.card img{
  height:fit-content inline;
  width:330;
  filter: grayscale(100%);
  padding-right:10%;
}
.card:hover {
  transform: scale(1.01);
}
body {margin:0;}

.navbar {
  position:fixed ;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 55px;
  background-color:black;
  opacity: 0.85;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 1px 16px;
  text-decoration: none;
  font-size: 17px;
}


.main {
  padding: 13px;
  margin-top: 40px;
  height: 1500px; /* Used in this example to enable scrolling */
}

.social a .fb {
  color: #E62B1E;
  padding-left: 30px;
}

 .social div {

  width: 30px;
  height: 50px;
  margin: 0 5px;
  border-radius: 50%;
  cursor: pointer;
 
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: relative;
}
.social a{
  text-decoration: none;
}
.social a i:hover{
  transform: scale(1.5);
}
.social {
  width: 50%;
  height: 0px;
  position: relative;
  z-index: 15;
  bottom: 0%;
  display: flex;
  justify-content: flex-end;
}